* {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #8d909b;
  background-image: url("https://wallpaperaccess.com/full/6604090.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}